@media screen and (max-width:767px) {

    .Appointment_bg_img,
    .investors_images {
        height: 400px !important;
    }

    .white {
        color: white;
    }

    .investor_ul_res {
        padding: 0 !important;
        margin: 1rem !important;
    }

    .investor_li_res {
        margin: 0 !important;
    }

    .investor_card_res {
        max-width: 25rem !important;
        margin: 0 !important;
    }
}




@media screen and (max-width:900px) {
    .Our_card {
        height: 19rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px auto;
        background: ghostwhite;
        border-radius: 0.2rem;
        box-shadow: 6px 7px 6px whitesmoke;
        border: 1px solid #d7d6d6;
    }
}

/* Example
 Apply styles starting from medium devices and up to extra large devices */
/* @media (768px <=width <=1000px) {
    .col_meium_Device {
        grid-template-columns: 1/span 12 !important;
    }

    .col_medium_device_image {
        display: none !important;
    }


} */


@media screen and (min-device-width: 481px) and (max-device-width: 1199px) { 
    /* Home Page Why Choose Us*/
    .col_meium_Device{
        width:100%;
    }
    .col_medium_device_image{
        width:0%;
        height:0%;
        overflow:hidden;
    }
}