/* index */

.Appointment_bg_img {
    background: url("images/Appointment_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon_1 {
    width: 2em;
    height: 2em;
}

/* ------- */


.card_img_1 {
    width: 17rem;
}

.card_img_2 {
    width: 20rem;
}